.hiddenQuiz{
  display: none;
}
.pointer{
  cursor:pointer;
  color: #0088cc;
}
.pointer:hover{
  text-decoration: underline;
}
#innerHeading{
  margin-left: auto;
  margin-right: auto;
  border-radius: 14px;
  width: 470px;
  border-style: inset;
  border-bottom: 17px white;
  border: 2px solid-red;
  text-align: center;
}
.date{
float:right;
  margin-bottom: 50px;
}
.finals{
  margin-top: 80px;
  display:none;
  text-align: center;

}
#resultMessage{
  color: red;
}
#submit{
  color: purple;
}
#submit:hover{
  cursor:pointer;
  color: red;
}
